body {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-weight: 900;
    margin-bottom: 2rem;
}

.flat-image {
    width: 12rem;
}

/* Estate card */
.estate-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.25rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}

.estate-card-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.estate-card-body img {
    border-radius: 0.25rem;
}

.estate-card-title {
    font-size: 1.5rem;
}

/* Pagination navigation */
.pages-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 1.5rem;
}

.pages-nav li {
    display: inline-block;
}

.pages-nav a,
.pages-nav a:visited {
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: black;
}

.pages-nav a:hover {
    background-color: #e8e8e8;
}

.pages-nav li.curr-page a {
    background-color: #c9c9c9;
}

.pages-nav li.dots {
    color: black;
    padding: 0;
}
