<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scraped estates</title>
        <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1 class="page-title">Scraped estates ({{ total_estates }} total)</h1>
            {% for estate in estates %}
                <div class="estate-card">
                    <h2 class="estate-card-title">{{ estate.name }}</h2>
                    <div class="estate-card-body">
                        {% for image in estate.images %}
                            <img class="flat-image" src={{ image.url }} />
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <nav class="pages-nav">
                <ul>
                    {% for page in page_list %}
                        {% if page == curr_page %}
                            <li class="curr-page"><a href="/page/{{ page }}">{{ page }}</a></li>
                        {% elif page == None %}
                            <li class="dots">...</li>
                        {% else %}
                            <li><a href="/page/{{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </body>
</html>
